 <%= turbo_frame_tag "movies", class: "contents" do %>
  <div id="movies" class="grid grid-cols-3 lg:w-2/3 mt-4 lg:mt-6 lg:mx-auto">
   
     <div class="border-t-2 border-gray-300 py-2">
        <span class="font-bold text-lg lg:text-xl">Name</span>
      </div>
      <div class="border-t-2 border-gray-300 py-2">
        <span class="font-bold text-lg lg:text-xl">Watched?</span>
      </div>
     <div class="border-t-2 border-gray-300 py-2">
        
      </div>
        <%= render movies, sharing: sharing %>
    
      </div>
  <% end %>