<div class="flex flex-col ml-6 mt-6">
    <h1 class="font-semibold text-2xl">Your Account</h1>

    <div class="flex mt-6 items-center">
        <span class="font-semibold text-lg">Name: </span>
        <span class="ml-3"><%= @user.name %></span>
    </div>

    <div class="flex mt-6 items-center">
        <h3 class="font-semibold text-lg">Email:</h3>
        <span class="ml-3"><%= @user.email %></span>
    </div>

    <div class="flex mt-6 items-center">
        <h3 class="font-semibold text-lg">Password:</h3>
        <span class="ml-3">*********</span>
        <%= link_to "Edit", account_edit_path, class: "ml-4 border-2 border-blue-500 bg-blue-500 px-2 py-1 text-white font-semibold rounded hover:opacity-70"%>
        
    </div>
</div>