<nav class="flex items-center justify-between flex-wrap bg-blue-800 p-6">
     <div class="flex items-center flex-shrink-0 text-white mr-6">
        <%= link_to "Personal Library", root_path, class: "font-semibold text-xl tracking-tight" %>
     </div>
     
      
    <% if Current.user %>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
     <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Books
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Articles
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Movies
      </a>
     
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        TV Shows
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Podcasts
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Tweets
      </a>
      
    </div>
    
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white m-0">
        ADD
      </a>
    
    <div class="w-full block lg:flex lg:items-center lg:w-auto">
      <%= link_to "Account", signup_path, class: "block lg:inline-block text-gray-200 hover:text-white"%>
      <%= button_to "Log out", signin_path, method: :delete, class: "ml-3 block lg:inline-block text-white text-sm bg-red-500 p-2 rounded font-medium cursor-pointer hover:opacity-70"%>
    </div>
    <% end %>
    
</nav>