<%= turbo_frame_tag "books", class: "contents" do %>
  <div id="books" class="grid grid-cols-4 lg:w-2/3 mt-4 lg:mt-6 lg:mx-auto text-center">
     <div class="border-t-2 border-gray-300 py-2">
        <span class="font-bold text-base lg:text-xl">Title</span>
      </div>
      <div class="border-t-2 border-gray-300 py-2"> 
        <span class="font-bold text-base lg:text-xl">Author</span>
      </div>
      <div class="border-t-2 border-gray-300 py-2">
        <span class="font-bold text-base lg:text-xl">Read?</span>
      </div>
     <div class="border-t-2 border-gray-300 py-2">
        
      </div>
        <%= render books, sharing: sharing %>
    
      </div>
  <% end %>