<div class="w-full">
    <div class="w-2/3 mx-auto mt-4">
        <h2 class="font-bold text-2xl">Books</h2>
    </div>
    
    <%= turbo_frame_tag "unread_books" do %>
        <%= render partial: "books/books", locals: {books: @books} %>
    <% end %>

    <div class="w-2/3 mx-auto mt-4">
        <h2 class="font-bold text-2xl">Articles</h2>
    </div>
    <%= turbo_frame_tag "unread_articles" do %>
        <%= render partial: "articles/articles", locals: {articles: @articles} %>
    <% end %>


</div>