<div class="w-full mx-auto mt-20">
    <h2 class="text-2xl font-bold my-4">Add New</h2>
    <%= form_with( url: add_path, method: :post, data: {turbo_frame: "add_form"}) do |form| %>
        <%=form.label "Type:" %>
        <%= form.select :type, ["Article", "Book", "Movie", "TV Show", "Podcast"], {prompt: "Select..."}, {onchange: "this.form.requestSubmit()", class: "rounded"} %>
    <% end %>
    
    <%= turbo_frame_tag "add_form", class: "contents" do %>

    <% end %>
</div>

