  <%= turbo_frame_tag "podcasts", class: "contents" do %>
  <div id="podcasts" class="grid grid-cols-6 lg:w-2/3 mt-4 lg:mt-6 lg:mx-auto">
   
      <div class="border-t-2 border-gray-300 py-2">
        <span class="font-bold text-xs lg:text-xl">Date Added</span>
      </div>
     <div class="border-t-2 border-gray-300 py-2">
        <span class="font-bold text-xs lg:text-xl">Name</span>
      </div>
      <div class="border-t-2 border-gray-300 py-2"> 
        <span class="font-bold text-xs lg:text-xl">Podcast</span>
      </div>
      <div class="border-t-2 border-gray-300 py-2"> 
        <span class="font-bold text-xs lg:text-xl">Link</span>
      </div>
      <div class="border-t-2 border-gray-300 py-2">
        <span class="font-bold text-xs lg:text-xl">Finished?</span>
      </div>
     <div class="border-t-2 border-gray-300 py-2">
        
      </div>
        <%= render podcasts, sharing: sharing %>
    
      </div>
  <% end %>